[Unit]
Description=rq worker
After=network.target

[Service]
User=ai_health-user
Group=ai_health
WorkingDirectory=/home/ubuntu/srv/ai_health_backend
Environment="PATH=/home/ubuntu/srv/ai_health_backend/venv/bin"
EnvironmentFile=/home/ubuntu/srv/ai_health_backend/.env
ExecStart=/home/ubuntu/srv/ai_health_backend/venv/bin/rq worker --with-scheduler
Restart=always
RestartSec=10


[Install]
WantedBy=multi-user.target